# Arquivos gerados pelo Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/

# Arquivos gerados pelo Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws
*.apk
*.ap_
*.keystore

# Arquivos gerados pelo Visual Studio Code
.vscode/

# Arquivos de dependências
.psd.json

# Arquivos específicos do sistema operacional
.DS_Store
Thumbs.db

# Logs e arquivos temporários
*.log
*.tmp
*.temp